/* @import url('clash-display.css'); */
@import url('./fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* ----------------------------------------------------------- */

@layer base {
  :root {
    /* --background: #414141; */
    --background: #FFFFFF;
    --backGradiYellow: #FDE598;
    --backGradiRed: #FF0000;
    --iconColor: #FF5555;
    --btnColor: #b5b0b0;
    --paraColor: #cad3e8;

    --ClashDisplayExtralight: ClashDisplay-Extralight;
    --ClashDisplayLight: ClashDisplay-Light;
    --ClashDisplayRegular: ClashDisplay-Regular;
    --ClashDisplayMedium: ClashDisplay-Medium;
    --ClashDisplaySemibold: ClashDisplay-Semibold;
    --ClashDisplayBold: ClashDisplay-Bold;
    --ClashDisplayVariable: ClashDisplay-Variable;

    --backSoftLightImg: "url(https://firebasestorage.googleapis.com/v0/b/forimgsave.appspot.com/o/010624_BatchSystem_SanFranciscoUS%2FforBack%2FsoftLightBack.png?alt=media&token=8332c707-9a62-4eb8-badd-21226ef30162)"

  }

  .dark {

    --background: #FFFFFF;
    --backGradiYellow: #FDE598;
    --backGradiRed: #FF0000;
    --iconColor: #FF5555;
    --btnColor: #000000;
    --paraColor: #888B92;

  }
}


@layer base {
  * {
    @apply m-0 p-0 box-border scroll-smooth transition-all duration-[0.5s] capitalize;
  }

  /* body {
    @apply bg-background text-foreground;
  } */
}


@layer components {
  .btnClass {
    @apply flex justify-center items-center p-2 lg:p-4 w-[100px] sm:w-[140px] h-full rounded-[5px] gap-2
  }

  .borderClass {
    /* @apply border-2 border-red-800 */
  }

  .pinkBorderClass {
    /* @apply border-4 border-pink-700 */
  }
}







input,
textarea {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}



html {
  /* background-color: black; */
}



svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: inherit;
  stroke: inherit;
}






.backBackground {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/forimgsave.appspot.com/o/010624_BatchSystem_SanFranciscoUS%2FforBack%2FsoftLightBack.png?alt=media&token=8332c707-9a62-4eb8-badd-21226ef30162);
}




/* ------------------------------------------------------------------------------ */












/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.5s;
  text-transform: capitalize;
} */



/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */